* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
body{
    background-image: url(./assets/futebol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}